<h1>Project Candy</h1>

<%= link_to "Home", root_path %>
<%= link_to "About Us", static_pages_about_path %>
<%= link_to "Gallery", static_pages_gallery_path %>
<%= link_to "Order Now", static_pages_order_path %>
<%= link_to "Contact Us", static_pages_contact_path %>