<form action="/orders" class="new_order" id="new_order" method="post">

<h1>Order Now!</h1>

<p></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@order) do |f| %>
      
    
      <%= f.label :FirstName %>
    <p>
      <%= f.text_field :nameFirst %>
    </p>
    
    
      <%= f.label :LastName %>
    <p>
      <%= f.text_field :nameLast %>
    </p>
    
    
      <%= f.label :email %>
    <p>
      <%= f.email_field :email %>
    </p>
    
    
      <%= f.label :address1 %>
    <p>
      <%= f.text_field :address %>
    </p>
      
       <%= f.label :address2 %>
    <p>
      <%= f.text_field :addressLine2 %>
    </p>
    
     <%= f.label :address3 %>
    <p>
      <%= f.text_field :addressLine3 %>
    </p>
    
      <%= f.label :phone %>
    <p>
      <%= f.text_field :phone %>
    </p>
      
      <%= f.label :alternatePhone %>
    <p>
      <%= f.text_field :alternatePhone %>
    </p>
    
    <%= f.label :city %>
    <p>
      <%= f.text_field :city %>
    </p>
    
    <%= f.label :state %>
    <p>
      <%= f.text_field :state %>
    </p>
    
    <%= f.label :zipCode %>
    <p>
      <%= f.text_field :zipCode %>
    </p>
      <%= f.submit "Order", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>