<p><%= "First Name: " + @order.nameFirst %></p>
<p><%= "Last Name: " + @order.nameLast %></p>
<p><%= "Email: " + @order.email %></p>
<p><%= "Address: " + @order.address %></p>
<p><%= "Address Line 2: " + @order.addressLine2 %></p>
<p><%= "Address Line 3: " + @order.addressLine3 %></p>
<p><%= "Phone " %><%= @order.phone %></p>
<p><%= "State: " + @order.state %></p>
<p><%=  "Zip Code: " %><%=  @order.zipCode %></p>
<%= link_to "delete", @order, method: :delete,
                                  data: { confirm: "You sure?" } %>